<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>L'application a besoin d'accéder au micro pour les appels et messages vocaux.</string>
    <key>NSCameraUsageDescription</key>
    <string>L'application a besoin d'accéder à la caméra pour les appels vidéo.</string>
</dict>
</plist>

